@model ProjectManager.Models.ProjectModels

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ProjectModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.categoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.categoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectStatus.projectStatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectStatus.projectStatusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.projectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.projectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.projectDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.projectDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.projectRequestedDueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.projectRequestedDueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.projectOfferedPaymentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.projectOfferedPaymentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.projectOfferedPaymentAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.projectOfferedPaymentAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.projectPaymentMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.projectPaymentMethod)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
