@model ProjectManager.Models.ProjectModels

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProjectModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.categoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.categoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectStatus.projectStatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectStatus.projectStatusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.projectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.projectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.projectClientID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.projectClientID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.projectDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.projectDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.projectRequestedDueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.projectRequestedDueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.projectOfferedPaymentAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.projectOfferedPaymentAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentMethod.projectPaymentMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentMethod.projectPaymentMethod)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
