@model IEnumerable<ProjectManager.Models.ProjectModels>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.projectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.categoryName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.projectClientID)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.projectDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.projectRequestedDueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.projectOfferedPaymentAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentMethod.projectPaymentMethod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectStatus.projectStatusName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.projectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.categoryName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.projectClientID)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.projectDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.projectRequestedDueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.projectOfferedPaymentAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentMethod.projectPaymentMethod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectStatus.projectStatusName)
        </td>
        <td>
            @Html.ActionLink("Change", "Change", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
