@model IEnumerable<ProjectManager.Models.ProjectModels>

@{
    ViewBag.Title = "Open Projects";
}

<h2>Open Projects for @User.Identity.Name</h2>
<p></p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.projectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.categoryName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.projectClientID)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.projectDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.projectRequestedDueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.projectOfferedPaymentAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentMethod.projectPaymentMethod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectStatus.projectStatusName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.projectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.categoryName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.projectClientID)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.projectDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.projectRequestedDueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.projectOfferedPaymentAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentMethod.projectPaymentMethod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectStatus.projectStatusName)
        </td>
        <td>
            <a class="btn btn-warning" href="@Url.Action("Change", "Project", new { id=item.ID })">Change</a> |
            <a class="btn btn-danger" href="@Url.Action("Delete", "Project", new { id=item.ID })">Delete</a>
        </td>
    </tr>
}

</table>
