<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Lively Literature</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- jQuery UI CSS Reference -->
    <link href="@Url.Content("~/Content/themes/base/jquery-ui.min.css")" rel="stylesheet" type="text/css"/>
    <!-- Required jQuery and jQuery UI Javascript references -->
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.4.min.js")"></script>

    <link rel='stylesheet' href='~/JQuery/fullcalendar.css' />
    <script src='~/JQuery/lib/jquery.min.js'></script>
    <script src='~/JQuery/lib/moment.min.js'></script>
    <script src='~/JQuery/fullcalendar.js'></script>

</head>
<body>
    @if (User.IsInRole("Writer"))
    {
        <div class="container admin-buffer">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Admin Panel", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Project", "Create", "Project")</li>                            
                            <li>@Html.ActionLink("Available Projects", "ProjectCalendar", "Project")</li>
                            <li>@Html.ActionLink("Create Category", "Create", "Category")</li>
                            @*<li>@Html.ActionLink("", "", "")</li>*@
                            
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
        </div>
    }
    
<div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
        <p><center>@Html.ActionLink("Home", "Index", "Home") &nbsp; @Html.ActionLink("About", "About", "Home") &nbsp; @Html.ActionLink("Contact", "Contact", "Home") &nbsp;     
        @using Microsoft.AspNet.Identity
        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            }
        }
        else
        {
            @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        }</center>
            &copy; @DateTime.Now.Year - Lively Literature
        </p>
    </footer>
</div>

        @*    @Scripts.Render("~/bundles/jquery")  *@
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

    </body>
</html>
